# Merging App Movie CSV Files

In [1]:
#import libraries
import pandas as pd

In [2]:
# read in the 3 csv files (Amazon, Netflix and Disney)

amazon = pd.read_csv('D:\Learning\Portfolio\Movie Finder\Movie Files\Amazon\\titles.csv',encoding = "UTF-16 Le")

disney = pd.read_csv('D:\Learning\Portfolio\Movie Finder\Movie Files\Disney+\\titles.csv',encoding = "UTF-16 Le")

netflix = pd.read_csv('D:\Learning\Portfolio\Movie Finder\Movie Files\\Netflix\\titles.csv',encoding = "UTF-16 Le")

In [3]:
amazon

,id,Platform,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,Amazon Prime,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,Amazon Prime,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,Amazon Prime,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,Amazon Prime,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,Amazon Prime,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9866,tm510327,Amazon Prime,Lily Is Here,MOVIE,Dallas and heroin have one thing in common: Du...,2021,NaN,93,['drama'],['US'],NaN,tt7672388,5.3,20.0,1.406,NaN
9867,tm1079144,Amazon Prime,Jay Nog: Something from Nothing,MOVIE,Something From Nothing takes you on a stand-up...,2021,NaN,55,['comedy'],['US'],NaN,tt15041600,NaN,NaN,0.600,NaN
9868,tm847725,Amazon Prime,Chasing,MOVIE,A cop from Chennai sets out to nab a dreaded d...,2021,NaN,116,['crime'],['IN'],NaN,NaN,NaN,NaN,1.960,NaN
9869,tm1054116,Amazon Prime,Baikunth,MOVIE,"This story is about prevalent caste problem, e...",2021,NaN,72,"['family', 'drama']",[],NaN,tt14331982,8.4,49.0,0.645,NaN
9870,ts275838,Amazon Prime,Waking Up Eighty,SHOW,"Kara Stewart, 16, is fed up with just about ev...",2021,NaN,10,['drama'],[],1.0,tt13542552,NaN,NaN,NaN,NaN

In [4]:
netflix

,id,Platform,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Netflix,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN
1,tm82169,Netflix,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Netflix,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,Netflix,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Netflix,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6114,tm1303784,Netflix,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,NaN,81,"['family', 'comedy']",['KW'],NaN,NaN,NaN,NaN,3.351,2.000
6115,tm1260999,Netflix,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,NaN,120,['documentation'],['TR'],NaN,tt26349328,7.9,209.0,2.450,7.200
6116,tm1310286,Netflix,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,NaN,69,['comedy'],['US'],NaN,tt21033382,6.1,91.0,1.960,NaN
6117,tm1072700,Netflix,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,NaN,80,['drama'],['NG'],NaN,tt14922926,5.2,18.0,1.357,4.000
6118,tm561709,Netflix,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,NaN,90,['family'],['AE'],NaN,tt4623222,7.0,40.0,NaN,NaN

In [5]:
disney

,id,Platform,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm89464,Disney+,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],NaN,tt0039628,7.9,50969.0,23.515,7.388
1,tm61729,Disney+,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500
2,tm61052,Disney+,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],NaN,tt0042332,7.3,164292.0,93.547,7.035
3,tm87946,Disney+,Dumbo,MOVIE,Dumbo is a baby elephant born with over-sized ...,1941,G,64,"['animation', 'drama', 'family', 'fantasy']",['US'],NaN,tt0033563,7.2,135045.0,54.265,6.999
4,tm74391,Disney+,Fantasia,MOVIE,Walt Disney's timeless masterpiece is an extra...,1941,G,119,"['animation', 'family', 'fantasy', 'music']",['US'],NaN,tt0032455,7.7,98764.0,43.609,7.382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1848,ts305794,Disney+,7 Toughest Days,SHOW,Dwayne Fields grew up around violent gangs and...,2023,TV-PG,49,"['reality', 'documentation', 'action']",['US'],1.0,tt15257974,7.8,23.0,3.733,2.000
1849,tm1308301,Disney+,Disney100 | Special Look,MOVIE,"In 2023, Disney’s 100-year milestone provides ...",2023,NaN,1,['Specials'],[],NaN,NaN,NaN,NaN,1.960,NaN
1850,tm1075680,Disney+,World's Most Dangerous Shark?,MOVIE,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,['documentation'],[],NaN,NaN,NaN,NaN,1.623,NaN
1851,tm1227149,Disney+,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],NaN,tt21271008,6.3,19.0,1.501,2.000
1852,tm1306624,Disney+,Inside Airport Lost & Found,MOVIE,NaN,2023,PG,44,['Specials'],[],NaN,NaN,NaN,NaN,0.600,NaN

In [6]:
# Merge the dataframes amazon, netflix
movies = pd.concat([amazon,netflix,disney])

movies

,id,Platform,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,Amazon Prime,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,Amazon Prime,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,Amazon Prime,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,Amazon Prime,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,Amazon Prime,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1848,ts305794,Disney+,7 Toughest Days,SHOW,Dwayne Fields grew up around violent gangs and...,2023,TV-PG,49,"['reality', 'documentation', 'action']",['US'],1.0,tt15257974,7.8,23.0,3.733,2.0
1849,tm1308301,Disney+,Disney100 | Special Look,MOVIE,"In 2023, Disney’s 100-year milestone provides ...",2023,NaN,1,['Specials'],[],NaN,NaN,NaN,NaN,1.960,NaN
1850,tm1075680,Disney+,World's Most Dangerous Shark?,MOVIE,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,['documentation'],[],NaN,NaN,NaN,NaN,1.623,NaN
1851,tm1227149,Disney+,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],NaN,tt21271008,6.3,19.0,1.501,2.0
1852,tm1306624,Disney+,Inside Airport Lost & Found,MOVIE,NaN,2023,PG,44,['Specials'],[],NaN,NaN,NaN,NaN,0.600,NaN

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17843 entries, 0 to 1852
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    17843 non-null  object
 1   Platform              17843 non-null  object
 2   title                 17843 non-null  object
 3   type                  17843 non-null  object
 4   description           17693 non-null  object
 5   release_year          17843 non-null  int64
 6   age_certification     8163 non-null   object
 7   runtime               17843 non-null  int64
 8   genres                17843 non-null  object
 9   production_countries  17843 non-null  object
 10  seasons               4184 non-null   float64
 11  imdb_id               16304 non-null  object
 12  imdb_score            15841 non-null  float64
 13  imdb_votes            15804 non-null  float64
 14  tmdb_popularity       17205 non-null  float64
 15  tmdb_score            15367 non-null  float64
dtypes: float64(5), int64(2), object(9)
memory usage: 2.3+ MB

In [8]:
# Cleaning Genres Data

# Removing the brackets from genres
movies['genres'] = movies['genres'].str.strip('[]')

# Capitalizing each genre
movies['genres'] = movies['genres'].str.title()

# Replacing quotes
movies['genres'] = movies['genres'].str.replace("'",'',regex=True)

# Removing the brackets from production countries
movies['production_countries'] = movies['production_countries'].str.strip('[]')

# Capitalizing type
movies['type'] = movies['type'].str.title()

In [9]:
movies

,id,Platform,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,Amazon Prime,The Three Stooges,Show,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"Comedy, Family, Animation, Action, Fantasy, Ho...",'US',26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,Amazon Prime,The General,Movie,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"Action, Drama, War, Western, Comedy, European",'US',NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,Amazon Prime,The Best Years of Our Lives,Movie,It's the hope that sustains the spirit of ever...,1946,NaN,171,"Romance, War, Drama",'US',NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,Amazon Prime,His Girl Friday,Movie,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"Comedy, Drama, Romance",'US',NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,Amazon Prime,In a Lonely Place,Movie,An aspiring actress begins to suspect that her...,1950,NaN,94,"Thriller, Drama, Romance",'US',NaN,tt0042593,7.9,30924.0,8.273,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1848,ts305794,Disney+,7 Toughest Days,Show,Dwayne Fields grew up around violent gangs and...,2023,TV-PG,49,"Reality, Documentation, Action",'US',1.0,tt15257974,7.8,23.0,3.733,2.0
1849,tm1308301,Disney+,Disney100 | Special Look,Movie,"In 2023, Disney’s 100-year milestone provides ...",2023,NaN,1,Specials,,NaN,NaN,NaN,NaN,1.960,NaN
1850,tm1075680,Disney+,World's Most Dangerous Shark?,Movie,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,Documentation,,NaN,NaN,NaN,NaN,1.623,NaN
1851,tm1227149,Disney+,Baby Sharks,Movie,"Even the biggest, fastest and fiercest predato...",2023,PG,45,Documentation,'US',NaN,tt21271008,6.3,19.0,1.501,2.0
1852,tm1306624,Disney+,Inside Airport Lost & Found,Movie,NaN,2023,PG,44,Specials,,NaN,NaN,NaN,NaN,0.600,NaN

In [10]:
movies.to_csv('Movies.csv', index = False)